<p>
    <a id="my-toggle-click">Toggle</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <p>bar</p>
</div>

<script>
  $("#foo").hide(); //馬上藏起來

  $("#my-toggle-click").hover(function(){
    $("#foo").fadeToggle(); //移過去會有開關消過
  })

</script>
