
<%= form_for Post.new, :remote => true do|f| %>
  <div clas="form-group">
    <%= f.text_area :content, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
<div id="post-list">
<% @posts.each do |post| %>


   <%= render :partial => "post", :locals => { :post => post } %>
<% end %>

</div>

<script>
   // 這會綁 click 事件到所有有 `.delete-post` class 的元素上，也就是所有的刪除按鈕
   $("#post-list").on('click', ".delete-post", function(evt){

     // `evt` 是瀏覽器的事件物件，evt.preventDefault(); 會終止這個元素的預設行為：
     // 超連結 a 的預設行為是跳到下一頁，如果沒有這行的話，送出 ajax 後會跳去 show page
     evt.preventDefault();
      // this 是個特別的變數，代表觸發事件的元素。使用 attr 可以讀取元素的屬性，這裡要拿到超連結的網址
      var url = $(this).attr("href");
      var that = this;

      // 送出 Ajax
      $.ajax({
        url: url,
        method: 'DELETE',
        dataType: 'json', // 要求伺服器回傳 json
        success: function(data){   // data 就是伺服器回傳的 JSON 資料
          $(that).closest(".panel").remove();
        }
      })
   })

</script>


<script>
  //紀錄畫面最小的貼文id
  $(window).scroll(function(){
    //當捲到最下面時
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      var url = "/posts?max_id=" + current_post_id;
      if (url) {
        $.ajax({
          method: "GET",
          url: url,
          dataType: "script"
        })
      } else {
        console.log("data ended")
      }
    }
  })


</script>


<script>
  $(".toggle-flag").on('change', function(){
    var url = $(this).data("url");

    $.ajax({
      url: url,
      method: "POST",
      dataType: "json",
      success: function(data){
        if ( data["flag_at"] ) {
         $("#post-flag-" + data["id"]).html(data["flag_at"]);
        } else {
          $("#post-flag-" + data["id"]).html("");
        }
      }
    });
  });
 </script>


 <script>
   $("#post-list").on('change', ".select_category", function(){
     var url = $(this).data("url");
     var that = this;

    $.ajax({
       url: url,
       method: "PATCH",
       dataType: "json",
       data: {
         post: {
           category_id: $(this).val()
         }
       },
        beforeSend: function(){
          $(that).after( $(' <img src="/images/ajax-loader.gif" id="ajax-loading"> ') );
        },
        complete: function(){
          $("#ajax-loading").remove();
        }
     });
   });
  </script>
